version: '3.8'
services:
  server:
    build: ./server
    volumes:
      - ../Website:/Website
    environment:
      - HUGO_SITE_DIR=/Website
    restart: always
  web:
    build:
      context: ./web
      dockerfile: Dockerfile
    ports:
      - "6768:80"
    depends_on:
      - server
    restart: always
